@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('../fonts/SchibstedGrotesk-VariableFont_wght.ttf')
}

body {
    font-family: "Schibsted Grotesk", serif;
    background-color: #F2EFE7;
    padding: 0.15rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-width: 50rem;
    padding-right: 0.85rem;
}

p {
    max-width: 55rem;
    font-size: 18px;
}

a {
    color: black;
}

.header {
    display: flex;
    border-bottom: solid;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: -0.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    text-wrap: nowrap;

    .fjellkjede {
        display: flex;
        overflow: hidden;

        img {
            width: 400px;
            height: auto;
            display: block;
        }

        img:not(:first-child) {
            margin-left: -2rem;
        }

    }

}

@media (max-width: 850px) {
    .header {
        border-bottom: solid;

        text-wrap: wrap;

        .fjellkjede {
            img {
                display: none
            }

        }

    }
}