@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('../fonts/SchibstedGrotesk-VariableFont_wght.ttf')
}

body {
    font-family: "Schibsted Grotesk", serif;
    background-color: #F2EFE7;
    padding: 0.15rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-width: 50rem;
    padding-right: 0.85rem;
}

p {
    max-width: 55rem;
    font-size: 18px;
}

a {
    color: black;
}

.header {
    display: flex;
    border-bottom: solid;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: -0.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    img {
        width: 400px;
        height: auto;
        display: block;
    }

    img:nth-child(3n) {
        margin-left: -4.20rem;
    }
}

@media (max-width: 1250px) {
    .header {
        border-bottom: solid;

        img {
            display: none
        }
    }
}