@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('../fonts/SchibstedGrotesk-VariableFont_wght.ttf')
}

body {
    font-family: "Schibsted Grotesk", serif;
    background-color: #F2EFE7;
    padding: 0.15rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-width: 50rem;
    padding-right: 0.85rem;
}

p {
    max-width: 60rem;
    font-size: 18px;
}

a {
    color: black;
}