@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Schibsted Grotesk", serif;
    background-color: #ebe3da;
    padding: 0.15rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-width: 50rem;
    padding-right: 0.85rem;
}

p {
    max-width: 60rem;
    font-size: 18px;
}

a {
    color: black;
}