@font-face {
    font-family: 'noto-sans';
    src: url('../fonts/noto-sans-latin-500-normal.ttf')
}

html,
body {
    font-family: noto-sans, serif;
    background-color: #fff;
    padding: 0.35rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    max-width: 42.5rem;
    font-size: 18px;
}