---
import { getCollection } from "astro:content";
import LinkCard from "../components/LinkCard.astro";
import Layout from "../layouts/Layout.astro";

const topperSider = await getCollection("topper");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Eltons europeiske topper</h1>
	{
		topperSider.map((side) => (
			<LinkCard
				href={side.slug}
				tittel={`${side.data.rang}. ${side.data.høyestePunkt}, ${side.data.land}, ${side.data.moh} moh`}
			/>
		))
	}
</Layout>
