.link-card-container {
    display: flex;
    flex-direction: column;
    color: #000;
    text-decoration: none;
    border: 0.2rem solid black;
    background-color: #fff;
    padding-inline: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: rgba(184, 194, 215, 0.35) 0px 3px 6px 0px;
}

.link-card-container:hover {
    color: #eceff4;
    background-color: #bf616a;
}

.land-emoji-container {
    margin: 0;
    font-size: 3rem;
}

.flex-row-center-gap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem
}

.detail {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 16px;
}