---
import "./linkCard.css";

const { href, tittel, landEmoji } = Astro.props;
---

<a href={href} class="link-card-container">
    <h2>{tittel}</h2>
    <p class="land-emoji-container">{landEmoji}</p>
</a>
